<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default"/>
<f:section name="Content">
    <f:form action="migrate" method="post">
        <div class="form-group">
            <label for="wordpressUrl" id="wordpressUrlLabel">
                <f:translate key="LLL:EXT:wordpress_migrate/Resources/Private/Language/Backend/locallang_mod.xlf:wordpressUrl"/>:
            </label>
            <f:form.textfield class="form-control" id="wordpressUrl" name="wordpressUrl" required="required" />
        </div>
        <div class="form-group">
            <label for="pagePid" id="pagePidLabel">
                <f:translate key="LLL:EXT:wordpress_migrate/Resources/Private/Language/Backend/locallang_mod.xlf:pagePid"/>:
            </label>
            <f:form.textfield class="form-control" id="pagePid" name="pagePid" required="required"/>
        </div>
        <div class="form-group">
            <label for="newsPid" id="newsPidLabel">
                <f:translate key="LLL:EXT:wordpress_migrate/Resources/Private/Language/Backend/locallang_mod.xlf:newsPid"/>:
            </label>
            <f:form.textfield class="form-control" id="newsPid" name="newsPid" required="required" />
        </div>
        <div class="form-group">
            <label for="categoryPid" id="categoryPidLabel">
                <f:translate key="LLL:EXT:wordpress_migrate/Resources/Private/Language/Backend/locallang_mod.xlf:categoryPid"/>:
            </label>
            <f:form.textfield class="form-control" id="categoryPid" name="categoryPid" required="required" />
        </div>
        <div class="form-group">
            <label for="tagPid" id="tagPidLabel">
                <f:translate key="LLL:EXT:wordpress_migrate/Resources/Private/Language/Backend/locallang_mod.xlf:tagPid"/>:
            </label>
            <f:form.textfield class="form-control" id="tagPid" name="tagPid" required="required" />
        </div>
        <f:form.button class="btn btn-success">
            <f:translate
                    key="LLL:EXT:wordpress_migrate/Resources/Private/Language/Backend/locallang_mod.xlf:submit"/>
        </f:form.button>
    </f:form>
</f:section>
</html>